<div id="about">
	The idea of is app is to let kids play with interesting stuff. Content that relates to something in the real world, because it is more exiting. Would it not be nice to make them understand that boring tables and numbers come somewhere and mean something? <br>

	I like data-visualization so I want to use it in a good way.
	<br>
	These days all the data-visualizations that I see are dealing with business or scientific topics but I am sure there is so much more that we can do with it.  
	If you have suggestions for amazing new topics write me an email.
	<br>
	<br>
	<a href="mailto:li-nee@gmx.de">HERE</a>

</div>

