<container id="dashboard">
	
	<div id="decision">
		Learn about the weather.
	</div>

	<div id="iconentry">
	<%= link_to image_tag("sun.png", class: "sun"), weather_path %>
	</div>

	<div id="decision">
		Make your own data.
	</div>

</container>


