<container id="kidscontainer">
  <div id="item1">
    <h1 id="graph">Compare the answers of all kids </h1>
    <svg id="mainkids"></svg>
  </div>

  <div id="item2">
    <h1 id="table">See it in a table </h1>
    <table id="kids">
      <thead>
        <tr>
          <th>Hours</th>
          <th>Diameter</th>
          <th>Pieces</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @kids.each do |kid| %>
          <tr>
            <td><%= kid.hours %></td>
            <td><%= kid.diameter %></td>
            <td><%= kid.pieces %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Save my own data', new_kid_path, class: "linktonew" %>
</container>
<br>

 <svg version="1.1" id="icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="1000">
 
<!-- defs block: Here we define all the icons to use. The id will be used as a reference-->
<defs>
<!-- umbrella icon, for wind -->
<g id="bubble">
<circle fill="#FF1493" cx="40.64" cy="40.64" r="40.64"/>
  <path fill="none" stroke="#FFFFFF" stroke-width="5.6693" stroke-linecap="round" stroke-miterlimit="10" d="M11.202,32.113
    c2.077-8.333,7.399-15.333,10.667-16.667"/>
  <path fill="none" stroke="#FFFFFF" stroke-width="5.6693" stroke-linecap="round" stroke-miterlimit="10" d="M19.398,34.113
    c2.254-6.564,5.536-11.626,11.87-14.667"/>
</g>
</defs>
</svg>






