<container id="kidscontainer">
  <div id="item1">
    <h1 id="graph">Compare the answers of all kids </h1>
    <svg id="mainkids"></svg>
  </div>

  <div id="item2">
    <h1 id="table">See it in a table </h1>
    <table id="kids">
      <thead>
        <tr>
          <th>Hours</th>
          <th>Diameter</th>
          <th>Pieces</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @kids.each do |kid| %>
          <tr>
            <td><%= kid.hours %></td>
            <td><%= kid.diameter %></td>
            <td><%= kid.pieces %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Save my own data', new_kid_path, class: "linktonew" %>
</container>
<br>






