<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>

<container>

	<% if @timenow.hour>17&&@timenow.hour<22 %>
	<h1>Good Evening</h1>
	<% elsif @timenow.hour>22&&@timenow.hour<6 %>
	<h1>Good Night</h1>
	<% elsif @timenow.hour>6&&@timenow.hour<22 %>
	<h1>Good Morning</h1>
	<% end %>

	<svg xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     version="1.1"
     width="1000"
     height="600"
     fill="oldlace">
		
		
		<svg class="draggable" id="windsvg" x="30" y="20" height="150" width="1100"
		transform="matrix(1 0 0 1 0 0)" onmousedown="selectElement(evt)">  
		</svg>

		<svg class="draggable" id="temperaturesvg" x="30" y="170" height="150" width="1100"
		transform="matrix(1 0 0 1 0 0)" onmousedown="selectElement(evt)">
		</svg>

		<svg class="draggable" id="rainsvg" x="30" y="320" height="150" width="1100"
		transform="matrix(1 0 0 1 0 0)" onmousedown="selectElement(evt)">
		</svg>

	</svg>


	<p id="mybox"> Result: </p> 

	<%= link_to "weatherdates", weatherdates_path %>

</container>

