<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>


<container>

	<% if @timenow.hour>17&&@timenow.hour<22 %>
	<h1>Good Evening</h1>
	<% elsif @timenow.hour>22&&@timenow.hour<6 %>
	<h1>Good Night</h1>
	<% elsif @timenow.hour>6&&@timenow.hour<22 %>
	<h1>Good Morning</h1>
	<% end %>
	<h1>let´s check out the weather!</h1>


	<svg 
		 width="1000"
     height="600"
     class="grid">
	</svg>


	<%= link_to "weatherdates", weatherdates_path %>

</container>

<button id="update">Update</button>


