<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>


<container>

	<% if @timenow.hour>17&&@timenow.hour<22 %>
	<h1>Good Evening</h1>
	<% elsif @timenow.hour>22&&@timenow.hour<6 %>
	<h1>Good Night</h1>
	<% elsif @timenow.hour>6&&@timenow.hour<22 %>
	<h1>Good Morning</h1>
	<% end %>



	<svg width="1500"
     height="600"
     fill="oldlace"
     class="mainsvg" class="bit-" >
		
	

	</svg>


	<p id="mybox"> Result: </p> 

	<%= link_to "weatherdates", weatherdates_path %>

</container>

