<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>

<container>

	<% if @timenow.hour>17&&@timenow.hour<22 %>
	<h1>Good Evening</h1>
	<% elsif @timenow.hour>22&&@timenow.hour<6 %>
	<h1>Good Night</h1>
	<% elsif @timenow.hour>6&&@timenow.hour<22 %>
	<h1>Good Morning</h1>
	<% end %>



	<svg xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     version="1.1"
     width="800"
     height="600"
     fill="oldlace"
     class="mainsvg">
		
	

	</svg>


	<p id="mybox"> Result: </p> 

	<%= link_to "weatherdates", weatherdates_path %>

</container>

