<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>

<% if @timenow.hour>17&&@timenow.hour<22 %>
<h1>Good Evening</h1>
<% elsif @timenow.hour>22&&@timenow.hour<6 %>
<h1>Good Night</h1>
<% elsif @timenow.hour>6&&@timenow.hour<22 %>
<h1>Good Morning</h1>
<% end %>

<svg height="400" width="1100">
  <circle cx="20" cy="20" r="20" fill="khaki" />
</svg>

<p id="mybox"> Result: </p> 

<%= link_to "weatherdates", weatherdates_path %>