// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$niceblue: #1e90ff;


// ul{
//  visibility: hidden;
// }

container#dashboard{

	display: flex;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-top: 10px;
}

// img.icon :hover{
	
// 	background:$niceblue;
// }
 
a img.sun {

	text-decoration: none;
}

img.sun {
	margin-top: 200px;
	width: 300px;
	background:none;
	opacity: 0.2;
	-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

img.sun:hover {
	opacity: 1;
	}

div#decision{
	font: 400 95px/1.6 'Pacifico', Georgia, serif;
	font-size: 2em;
	
}

div#decision a{
	color: white;
}

div#about{
	margin: 100px auto 100px auto;
	font-family: 'Istok Web', sans-serif;
	width: 800px;
	color: grey;
}

div#blue{
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	width: 20%;
	background: $niceblue;
}

img.wetter{
	margin-left:25px;
	margin-top: 20px;
}