// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$niceblue: #1e90ff;


// ul{
//  visibility: hidden;
// }

container#dashboard{

	display: flex;
	justify-content: center;
}

// img.icon :hover{
	
// 	background:$niceblue;
// }
 
a img.icon {

	text-decoration: none;
}



img.icon {
	
	background:none;

}