// Place all the styles related to the kids controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.logo{
	font: 400 95px/1.6 'Pacifico', serif;
	font-size: 1.5em;	
}


svg#mainkids{
	background-image: linear-gradient(rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 96px 96px, 96px 96px, 12px 12px, 12px 12px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  box-shadow: 0 1px 0 white;
 
	// background-color: #ffffff;
	// background-image: url(http://www.transparenttextures.com/patterns/grid-me.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1#table{
	// margin-top: 20px; 
}

h1#graph{
	// margin-top: 50px; 
}

container#kidscontainer{
	display: flex;
	margin-top: 50px;
	justify-content: center;


}

div#item2{
	margin-left: 50px;
	width: 250px;
}

td{

	height: 30px;
	width: 20px;
	box-shadow: 0 1px 0 white;

}

a.linktonew {
	
	border-radius: 5px; 
	padding-left: 10px;
	padding-top: 20px;
	color: white;
	align-self: flex-end;
	width: 200px;
	height: 35px;
	background-color : #a1a1a1; 
  font-family: 'Istok Web', sans-serif; 
}

div#field1 label{
	line-height: 1.2em;
}

div#field2 label{
	line-height: 1.2em;
}

div#field3 label{
	line-height: 1.2em;
}

div#field1{
	margin-top: 100px;
	margin-bottom: 30px;
	width: 500px;
}



div#field2{
	margin-top: 40px;
	margin-bottom: 30px;
	width: 500px;
}

div#field3{
	margin-top: 40px;
	margin-bottom: 30px;
	width: 500px;
}

div.actions{
	margin-top:30px;
	margin-bottom: 30px;
	width: 500px;
}

input#kid_hours{
	margin-top:20px;
	width: 200px;
}

input#kid_pieces{
	margin-top:20px;
	width: 200px;
}

input#kid_diameter{
	margin-top:20px;
	width: 200px;
}

container#form{
	display: flex; 
	flex-direction: column;
	width: 800px;
	margin-left: 200px;
}

