// Place all the styles related to the visi controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: 'Lora', serif;
	padding: 20px;
	background-color: tan;
	color: cornsilk;
}

#DoIt{
	position: absolute;
	top:10px;
	left: 10px;
}

body{
	background-image: url(bedge_grunge.png)
}