// Place all the styles related to the visi controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: 'Lora', serif;
	padding: 20px;
	background-color: tan;
	color: cornsilk;
	background-image: url(bedge_grunge.png);
}

#DoIt{
	position: absolute;
	top:10px;
	left: 10px;
}


.labels{
	font-size: 3em;	
	display: block;
	width: 190px;
	background-color: white;
	max-width: 190px;
	min-height: 5px;
	height: auto;
	max-height: 185px;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden !important;
	text-align: left;
	fill: white;

}

container{
		// outline: solid black 1px;
		// display: flex;
		// justify-content: center;
}

.mainsvg{
		transform: translate(100px,200px);
		
		// background-image: url(bluepattern.png);
		// opacity: 0.5;
}

.grid {
  background-image: linear-gradient(rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 96px 96px, 96px 96px, 12px 12px, 12px 12px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  position: relative;
  top: 100;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  // outline:1px red solid;
}

circle{
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,0.41) 59%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(59%,rgba(41,137,216,0.41)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,0.41) 59%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,0.41) 59%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,0.41) 59%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,0.41) 59%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

h1{
	line-height: 1em;
}

