// Place all the styles related to the weatherdates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @font-face {
//       font-family: "Lora-Bold";
//       src:url(asset-path(fonts/Lora-Bold.ttf));
//   }

// @font-face {
//       font-family: "Pacifio";
//       src:url(asset-path('fonts/Pacifico.ttf));
//   }

//  @font-face {
//         font-family: "IstokWeb-Bold";
//         src:url(asset-path(fonts/IstokWeb-Bold.ttf));
//     }


g.x.axis{
	fill: #666;
}
.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

body{
	font-family: 'Lora', serif;
	padding: 20px;
	color: white;
	background-image: asset-url("bedge_grunge.png");
	line-height:20px;

}

#DoIt{
	position: absolute;
	top:10px;
	left: 10px;
}


.labels{
	font-size: 2.0em;		
}

container#weather{
		// outline: solid black 1px;
		position: relative;
		top: 20px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		max-height: 900px;

}



svg.grid {
  background-image: linear-gradient(rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 96px 96px, 96px 96px, 12px 12px, 12px 12px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  position: relative;
  top: 100;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  //white shadow
 //  -moz-box-shadow: 0 0 15px #fff;
	// -webkit-box-shadow: 0 0 15px #fff;
	// box-shadow: 0px 0px 15px #fff;  
}




h1.time{
	font-size: 1.5em;
	line-height:12px;
	margin-top: 6px;
	margin-bottom: 10px;
	margin-left: 260px;

}

.icons{
		position: absolute;
		top: 60px;
		left:145px;
		display: flex;
		flex-direction: column;	
}

.icon{
		margin-top: 12px; 
		margin-bottom: 12px;
		
}

span.logo{
	font: 400 95px/1.6 'Pacifico', serif;
	font-size: 1.5em;	
}

ul{
	
	position:fixed;
  top:0px;
  vertical-align: middle;
}

li{

	margin-right: 10px;
	display: inline-block;
	
}

li a{
	text-decoration: none;
}

input{
	width: 150px;
	border-radius: 5px;
	height: 30px;
	margin: 5px;
	outline: 0;
	border: 0px;
	padding-left: 10px;
}

text.labels{
	color: grey;
}


form{
	// position: fixed;
	// top: 80px;
	margin-top: 40px;

}
form label{
	position: relative;
	top: 2px;
	color: deeppink;
	font-size: 1.6em;

}

input[type="text"], textarea {

  background-color : white;
  font-family: 'Istok Web', sans-serif;
  color: #666;
  font-size: 1em;

}

input[type="submit"], textarea {

  background-color : #a1a1a1;
  font-family: 'Istok Web', sans-serif;
  border: 0px;
  outline:0px;
  padding: 5px;
  color: white;
  font-size: 1.0em;
  font-weight: bold;
  border-radius: 5px;

  
}

a{
	color: #666;
	text-decoration: none;
}

nav {

	background-color: #1e90ff;
	background-image: url(http://www.transparenttextures.com/patterns/tiny-grid.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	left: 0px;
	top: 0px;
	background-color: #1e90ff;
	height: 60px;
	margin: 0px auto;
	width: 100%;
	position: fixed;
	opacity: 0.5;
}

nav:hover {
	opacity: 1;
}

nav a{
	color: #EBECE4;
	font-family: 'Istok Web', sans-serif;
	font-weight: bold;

}

button.timetravel{
	background-color : #a1a1a1;
  font-family: 'Istok Web', sans-serif;
  border: 0px;
  outline:0px;
  padding: 7px;
  color: white;
  font-size: 1.0em;
  font-weight: bold;
  width: 60px;
  margin-top:15px;
  margin-left: 260px;
  border-radius: 5px;


}
