// Place all the styles related to the weatherdates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @font-face {
//       font-family: "Lora-Bold";
//       src:url(asset-path(fonts/Lora-Bold.ttf));
//   }

// @font-face {
//       font-family: "Pacifio";
//       src:url(asset-path('fonts/Pacifico.ttf));
//   }

//  @font-face {
//         font-family: "IstokWeb-Bold";
//         src:url(asset-path(fonts/IstokWeb-Bold.ttf));
//     }

div#time{
	background-color: white;
	width: 150px;
	height: 30px;
	position: relative;
	left: 900px;
	color: grey;
	padding-left:25px;
	padding-right:20px;
	padding-top:15px;
	padding-bottom:20px;
	font-size:1.2em;
	line-height: 1em;
}

g.x.axis{
	fill: #666;
}

g.x.axis text{
	font-size: 14px;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

body{

	font-family: 'Lora', serif;
	padding: 20px;
	color: white;
	background-image: asset-url("bedge_grunge.png");
	line-height:20px;
	font-weight:bold;


}

#DoIt{
	position: absolute;
	top:10px;
	left: 10px;
}


.labels{
	font-size: 2.0em;		
}

container#weather{
		// outline: solid black 1px;
		position: relative;
		top: 20px;
		display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  
	  -webkit-flex-flow: row wrap;
	  justify-content: flex-start;



}

div#h1{

	flex-basis: 900px;
}

div#svg{
	position: relative;
	top: -368px;
	left: 288px;
}

div#row1{
	height: 60px;
}

div#row2{

	max-height: 400px;

svg.grid {
  background-image: linear-gradient(rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgba(4, 156, 219, 0.125) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 96px 96px, 96px 96px, 12px 12px, 12px 12px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  cursor:asset-url("arrow-grey.png"),auto;
}

}

div.icons{
	 margin-left: 150px;
   max-width: 80px;
   cursor: pointer; cursor: hand;
}

h1.time{
	font-size: 1.5em;
	line-height:12px;
}


.icon1{
		margin-top: 12px; 
		margin-bottom: 12px;		
}

.icon2{
		margin-top: 12px; 
		margin-bottom: 12px;		
}

.icon3{
		margin-top: 12px; 
		margin-bottom: 12px;		
}

span.logo a{
	font: 400 95px/1.6 'Pacifico', serif;
	font-size: 1.5em;	
	padding-bottom: -5px;
}

ul{
	
	position:fixed;
  top:0px;
  vertical-align: middle;
}

li{

	margin-right: 10px;
	display: inline-block;
	
}

li a{
	text-decoration: none;
}

input{
	width: 150px;
	border-radius: 5px;
	height: 30px;
	margin: 5px;
	outline: 0;
	border: 0px;
	padding-left: 10px;
	cursor: pointer; cursor: hand;
}

text.labels{
	color: grey;
}


form{
	// position: fixed;
	// top: 80px;
	margin-top: 60px;

}
form label{
	position: relative;
	top: 2px;
	color: deeppink;
	font-size: 1.6em;
	font-family: 'Lora' !important;

}

input[type="text"], textarea {

  background-color : white;
  font-family: 'Istok Web', sans-serif;
  color: #666;
  font-size: 1em;

}

input[type="submit"], textarea {

  background-color : #a1a1a1;
  font-family: 'Istok Web', sans-serif;
  border: 0px;
  outline:0px;
  padding: 5px;
  color: white;
  font-size: 1.0em;
  font-weight: bold;
  border-radius: 5px;

  
}

a{
	color: #666;
	text-decoration: none;
}

nav {


	background-image: url(http://www.transparenttextures.com/patterns/tiny-grid.png);
	left: 0px;
	top: 0px;
	background-color: #1e90ff;
	height: 60px;
	padding: 5px;
	width: 100%;
	position: fixed;
	opacity: 0.5;
}

nav:hover {
	opacity: 1;
}

nav a{
	color: #EBECE4;
	font-family: 'Istok Web', sans-serif;
	font-weight: bold;

}

button.timetravel1{
	background-color : #a1a1a1;
  font-family: 'Istok Web', sans-serif;
  border: 0px;
  outline:0px;
  padding: 7px;
  color: white;
  font-size: 1.0em;
  font-weight: bold;
  margin-left: 260px;
  border-radius: 5px;
  cursor: pointer; cursor: hand;
}

button.timetravel2{
	background-color : #a1a1a1;
  font-family: 'Istok Web', sans-serif;
  border: 0px;
  outline:0px;
  padding: 7px;
  color: white;
  font-size: 1.0em;
  font-weight: bold;
  margin-top:100px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer; cursor: hand;
}

.ticks{
	font-size: 0.8em;
}


svg#arrow{
	position: relative;
	left: 500px;
	margin: auto;
}
